/* ~~~~~~~~~~~~~~~~~~~~ body ~~~~~~~~~~~~~~~~~~~~ */

html {
    height:100%;

    font-family: 'Cutive Mono', monospace;
    font-size:11pt;
    text-size-adjust:none;

    background: var(--background-colour);
    color: var(--text-colour)
}

body {
    height:auto;
    min-height: calc(100% - var(--spacer)*4);
    padding: calc(var(--spacer) * 2);

    background-image: url("~@/assets/img/linedpaper.png");

    display:flex;
    flex-direction: column;
}  

/* ~~~~~~~~~~~~~~~~~~~~ h1, h2, h... ~~~~~~~~~~~~~~~~~~~~ */

h1, h2, h3, h4, h5 {
    font-weight: bold;
}
h1 { font-size: 200%; }
h2 { font-size: 175%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }
h5 { font-size: 110%; }

/* ~~~~~~~~~~~~~~~~~~~~ strong ~~~~~~~~~~~~~~~~~~~~ */

strong {
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~ a ~~~~~~~~~~~~~~~~~~~~ */

a {
    color:var(--highlight-colour);
}
a:visited {
    color:var(--alt-colour);
}

/* ~~~~~~~~~~~~~~~~~~~~ ul, ol, li ~~~~~~~~~~~~~~~~~~~~ */

ul {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
ul, ol {
    margin-top: calc(var(--spacer) * 4);
    margin-bottom: calc(var(--spacer) * 4);
    padding-left: calc(var(--spacer) * 8);
}
ul li, ol li {
    margin-top: calc(var(--spacer) * 2);
}
ul li:first-child, ol li:first-child {
    margin-top: 0;
}